.contents
  %header
    .group-detail
      %h2.group-detail__title
        タイトル
      %ul.group-detail__member-list
        member:
        %li
          no1,
        %li
          no2
    %a.edit-button{href: "#"}
      Edit
  .main-contents
    %ul.message-list
      - @messages.each do |message|
        %li.message-container
          %h3.message-container__header
            = message.user.name
            %span.date
              = message.created_at.strftime('%Y/%m/%d %H:%M:%S')
          %p.message-container__text
            = image_tag(message.image.url) if message.image.url
            = message.content
      %li.message-container
        %h3.message-container__header
          user
          %span.date
            20XX/XX/XX
        %p.message-container__text
          aaa
  .chat-box
    /%form.send-message-box
    = form_for [@group, @message], html: {class: "send-message-box"} do |f|
      .send-message-box__textarea
        /%input.textbox{:type => "text", :placeholder => "type a message"}
        = f.text_field :content, placeholder: "type a message", class: "textbox"
        /%label.uploadericon{:for =>"imageuploader"}
        = f.label :image, class: "uploadericon", for: "imageuploader" do
          = fa_icon "image"
        /%input#imageuploader{:type => "file"}
        = f.file_field :image, id: "imageuploader"
      /%input.send-message-box__submitbutton{:type => "submit",:value => "Send"}
      = f.submit class: "send-message-box__submitbutton", value: "Send"
